* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

html,
body {
    height: 100%;
    width: 100%;
    /* overflow-x: hidden; */
}

.section1{
    height: auto;
    width: 100%;
    background-color: rgb(1, 1, 29);
    padding: 10px;
}

.texts1{
   display: flex;
   justify-content: center;
   align-items: center;

}
.texts1 p{
    color: white;
    font-size: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.texts1 span{
    color: rgb(21, 197, 21);
}

.btn1{
    margin-top: 10px;
}

.btn1 button{
    height: auto;
    width: 200px;
    background-color: rgb(13, 142, 13);
    border-radius: 5px;
    border: none;
    color: #fff;
    padding: 10px;
    font-size: 25px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.Component1 {
    background-color:#fff;
    width: 100%;
    height: 50%;
}
.section2{
      display: flex;
      justify-content: center;
      padding: 65px;
      gap: 40px;
}
.subtexts1{
    padding: 20px;
}
#smalltext{
    color: black;
    font-size: 15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 10px;
}
#btext{
    color:rgb(43, 43, 210);
    font-size: 18px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 10px;
}
#htext{
    color: black;
    font-size: 25px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 10px;
}
#htext span{
    color: red;
}
#ptext p{
    color: rgba(31, 31, 31, 0.989);
    font-size: 23px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 10px;
}
#ptext span{
     color: red;
}
.btnb{
    height: 110px;
    width: 520px;
    border-radius: 20px;
    border: none;
    background-color: rgb(19, 150, 19);
}
.btnb b {
    color: #fff;
    font-size: 23px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    padding: 5px;
    text-align: center;
}
#ptext1 p{
    color: black;
    font-size: 23px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#ptext1 span{
    color: red;
}

.bigbutton{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 10px;
}
.button1{
    padding: 10px;
}
#btnb{
    background-color: rgb(27, 27, 105);
    height: 60px;
    width: 275px;
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 10px;
    border: none;
    padding: 5px;
    text-align: center;
    color: white;
}
#btns{
    background-color: rgb(27, 27, 105);
    height: 60px;
    width: 275px;
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 10px;
    border: none;
    padding: 5px;
    text-align: center;
    color: white;
}
#btns span{
    color: rgb(194, 194, 11);
}
.buttontext{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.buttons{
    background-color: rgb(27, 27, 105);
    height: 40px;
    width: 400px;
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 10px;
    border: none;
    padding: 5px;
    margin-top: 20px;
    text-align: center;
    color: white;
}
.buttons span{
    color: rgb(194, 194, 11);
}

.divs{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 1000px;
    background-color: rgb(3, 3, 92);
    padding: 30px;
    gap: 40px;
    margin: auto;
    border-radius: 15px;
    border-bottom: 5px solid red;

}

.three-divs{
    display: flex;
    justify-content: center;
    align-items: center;
}

.div1{
    display: flex;
    flex-direction: column;
}

.div1 h1{
    color: white;
    font-size: 25px;
}

.div1 p{
    color: rgb(217, 217, 13);
    font-size: 20px;
}

.second{
    height: auto;
    width: 100%;
    padding: 40px;
}

.headline{
    text-align: center;
}

.headline h1{
    font-size: 40px;
    color: black;
    font-weight: 900;
}

.headline h1 span{
    color: red;
}

.main-div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 80px;
    margin-bottom: -30px
}

.div-1 img{
    height: 100px;
    width: 180px;
}

.main-div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 80px;
    margin-bottom: -30px
}

.div-1 img{
    height: 100px;
    width: 180px;
}

.third{
    background-color: rgb(227, 205, 248);
    height: auto;
    width: 100%;
    padding: 40px;
    margin-top: 50px;
}

.third h1{
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.people-review{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 40px;
}

.review-card{
    height: 560px;
    width: 350px;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
}

.img1{
    border-radius: 50%;
    height: 60px;
    width: 60px;
    margin: auto;
}

.name{
    font-size: 15px;
    margin-top: 10px;
    text-align: center;
    text-transform: uppercase;
}

.img2{
    height: 30px;
    width: 100px;
    margin: auto;
    margin-top: 10px;
}

.desc{
    font-size: 15px;
    text-align: center;
    margin-top: 15px;
}

.desc h3 span{
    color: red;
}

.para{
    margin-top: 10px;
    font-size: 13px;
    color: black;
    text-align: center;
    line-height: 2em;
}

.youtube{
    margin-top: 30px;
}

.iframe-link{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.iframe-link iframe{
    height: 250px;
    width: 350px;
}

.four{
    background-color: rgb(227, 214, 68);
    height: auto;
    width: 100%;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.left-div{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.left-div h1{
    font-size: 40px;
    text-transform: capitalize;
}

.left-div h1 span{
    font-weight: 700;
    color: blue;
}

.green-btn{
    background-color: rgb(8, 169, 8);
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    height: 110px;
    width: 450px;
    color: white;
}

.green-btn h1{
    font-size: 20px;
}

.img-rate{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.img-rate img{
    height: 30px;
    width: 100px;
}

.img-rate span{
    font-size: 16px;
    font-weight: 600;
}


.line h1{
    font-size: 25px;
}

.line h1 span{
    color: red;
}

.right-div iframe{
    height: 280px;
    width: 450px;
}

.five{
    background-color: rgb(6, 6, 143);
    height: auto;
    width: 100%;
    padding: 30px;
    text-align: center;
    color: white;
}

.five h1{
    font-size: 40px;
}

.five h1 span{
    color: yellow;
}

.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 30px;
}

.eligible{
    height: auto;
    padding: 20px;
    width: 30vw;
}

.eligible h1{
   font-size: 25px;
   gap: 20px;
}

.eligible p{
    color: yellow;
    font-size: 15px;
}

.six{
    height: auto;
    width: 100%;
    padding: 30px;
}

.six h1{
    text-align: center;
    font-size: 40px;
}

.lining{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    margin-top: 30px;
}

.line-1{
    width: 700px;
    text-align: center;
}

.line-1 p{
    color: black;
    font-size: 20px;
    font-weight: 700;
}

.line-1 p span{
    color: red;
}

.salary-div{
    margin: auto;
    background-color: black;
    height: auto;
    padding: 20px;
    width: 80vw;
    border: 2px dashed red;
    border-radius: 10px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.per{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40vw;
}

.per h1{
    font-size: 60px;
    font-weight: 700;
    color: rgb(62, 238, 62);
}

.per span{
    font-size: 15px;
    color: yellow;
}

.salary-div p{
    color: white;
    font-size: 25px;
}

.salary-div p span{
    color: yellow;
}

p{
    color: black;
    font-size: 40px;
    margin-top: 40px;
    text-align: center;
}

.job h2{
    color: blue;
    font-size: 30px;
    text-align: center;
    width: 40vw;
    margin: auto;
    margin-top: 20px;
    font-weight: 700;
}

.academy h3{
    color: red;
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    width: 25vw;
    margin: auto;
    margin-top: 20px;
}

.batch{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
}

.start{
    background: linear-gradient(to right, rgb(1, 1, 98), blue);
    width: 40vw;
    height: auto;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.start img{
    height: 50px;
    width: 50px;
}

.start h1{
    font-size: 25px;
    color: white;
}

.start h1 span{
    color: yellow;
}

.small-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    margin-top: 30px;
}

.small{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    height: auto;
    width: 70vw;
    padding: 15px;
    border: 1px solid lightgrey;
    box-shadow: 0 0 2px 3px rgb(217, 233, 238);
    border-radius: 10px;
}

.small img{
    height: 30px;
    width: 30px;
}

.small h3{
    font-size: 20px;
}

.green{
    background-color: rgb(15, 177, 15);
    height: auto;
    width: 30vw;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    margin: auto;
    margin-top: 30px;
}

.green h1{
    color: white;
    font-size: 20px;
    font-weight: 800;
}
.green p{
    color: white;
    font-size: 15px;
}

.rating{
    display: flex;
    justify-content: center;
    align-items: center; 
    gap: 10px;
    margin-top: 20px;
}

.rating img{
    height: 30px;
    width: 120px;
}

.rating span{
    color: white;
    font-size: 15px;
    font-weight: 800;
}

.green-bottom{
    text-align: center;
    margin-top: -30px;
}

.green-bottom p{
    font-size: 20px;
    font-weight: 700;
}

.green-bottom p span{
    color: red;
}

.seven{
    background: linear-gradient(to right, rgb(5,5,120), rgb(36, 36, 234));
    height: auto;
    width: 100%;
    padding: 30px;
}

.top{
    margin: auto;
    text-align: center;
    width: 70vw;
}

.top h1{
    font-size: 35px;
    font-weight: 800;
    color: white;
}

.top h1 span{
    color: yellow;
}

.advantage{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 50px;
    flex-wrap: wrap;
}

.card-advantage{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    width: 25vw;
}

.card-advantage img{
    height: 50px;
    width: 50px;
}

.card-advantage h1{
    font-size: 25px;
    font-weight: 700;
    color: white;
}

.card-advantage span{
    color: yellow;
    font-size: 18px;
    text-align: center;
}

.job-ready{
    margin: auto;
    text-align: center;
    width: 70vw;
    margin-top: 60px;
}

.job-ready h1{
    color: white;
    font-size: 40px;
    font-weight: 800;
}

.job-ready h1 span{
    color: yellow;
}

.job-ready-steps{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 40px;
    flex-wrap: wrap;
}

.job-ready-steps img{
    height: 15vw;
    width: 25vw;
}

.eight{
    height: auto;
    padding: 30px;
    width: 100%;
}

.h1{
    margin: auto;
    width: 60vw;
    text-align: center;
}

.h1 h1{
    font-size: 40px;
    font-weight: 800;
}

.h1 h1 span{
    color: red;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    gap: 20px;
    text-align: center;
}

.flex-cards{
    background: linear-gradient(to right, rgb(4, 64, 133), rgb(30, 30, 236));
    height: auto;
    width: 25vw;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;

}

.bonus{
    text-align: center;
    font-size: 20px;
    color: white;
}

.flex-cards img{
    height: 150px;
    width: 300px;
}

.btn{
    padding: 10px;
    text-align: center;
    width: 200px;
    height: auto;
    background-color: white;
    border-radius: 10px;
    border-left: 4px solid red;
    border-right: 4px solid red;
}

.btn h1{
    font-size: 20px;
}

.nine{
    height: auto;
    width: 100%;
    padding: 30px;
    background-color: rgb(251, 243, 252);
}

.nine h1{
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    margin: auto;
}

.nine h1 span{
    color: red;
}

.bg{
    background-color: white;
}

.bg h3 span{
    color: red;
}

.green h1{
    font-size: 20px;
}

.ten{
    height: auto;
    width: 100%;
    padding: 30px;
}

.ten h1{
    font-size: 40px;
    text-align: center;
    margin: auto;
}

.syllabus{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
}

.syllabus-cards{
    height: auto;
    width: 55vw;
    background-color: rgb(240, 238, 238);
    padding: 20px;
    text-align: left;
    border-radius: 10px;
}

.syllabus-cards:hover{
    cursor: pointer;
    background-color: black;
    color: white;
    transition: 0.5s;
}

.syllabus-cards h2{
    font-size: 25px;
    font-weight: 500;
}

.syllabus-cards h2 span{
    font-size: 15px;
    text-decoration: underline;
}

.green h1{
    font-size: 20px;
}

.elevan{
    height: auto;
    width: 100%;
    padding: 30px;
    background-color: rgb(1, 1, 111);
}

.elevan h1{
    text-align: center;
    margin: auto;
    font-size: 40px;
    font-weight: 800;
    color: white;
}

.span{
    color: yellow;
    width: 50vw;
    font-size: 20px;
    text-align: center;
    margin: auto;
}

.student-review{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
}

.stud-card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    background-color: white;
    height: 400px;
    width: 28vw;
    padding: 20px;
    border-radius: 10px;
}

.stud-card h2{
    font-size: 25px;
}

.stud-card img{
    height: 30px;
    width: 100px;
}

.stud-card .para{
    font-size: 20px;
    font-weight: 700;
}

.stud-card .para span{
    font-size: 20px;
    color: red;
}

.stud-card span{
    font-size: 15px;
    text-align: center;
}

.twelve{
    height: auto;
    width: 100%;
    padding: 30px;
    background-color: rgb(235, 239, 243);
}

.twelve h1{
    font-size: 40px;
    font-weight: 800;
    margin: auto;
    text-align: center;
}

.twelve h1 span{
    color: red;
}

.stud-success{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.success-cards iframe{
    height: 200px;
    width: 300px;
}

.thirteen{
    height: auto;
    width: 100%;
    padding: 30px;
    padding-left: 10vw;
    padding-right: 10vw;
    background: linear-gradient(to right, rgb(2, 2, 77), blue);
}

.founder{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.info{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.info h1{
    color: white;
    font-size: 50px;
    font-weight: 800;
}

.info h3{
    color: white;
    font-size: 20px;
}

.paragraph{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.paragraph h6{
    font-size: 18px;
    line-height: 1.5em;
    color: white;
    font-weight: 100;
}

.paragraph h6 span{
    color: yellow;
}

.founder img{
    height: 500px;
    width: 400px;
}

.fourteen{
    height: auto;
    width: 100%;
    padding: 30px;
    background-color: rgb(221, 202, 239);
}

.fourteen h1{
    text-align: center;
    margin: auto;
    font-size: 40px;
    font-weight: 800;
}

.fourteen h1 span{
    color: red;
}

.certified-img{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.certified-img img{
    height: 250px;
    width: 350px;
}

.certified-feature{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-top: 40px;
}

.certified-feature img{
    height: 60px;
    width: 300px;
}

.two-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 40px;
}

.other-programs{
    background-color: white;
    width: 450px;
    height: auto;
    box-shadow: 0 0 3px 3px rgb(238, 221, 235);
    border-radius: 10px;
}

.two-divs{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.top-div{
    padding: 20px;
    background: linear-gradient(to right, rgb(234, 134, 151), rgb(110, 22, 37));
    color: white;
    width: 100%;
    border-radius: 10px;
}

.top-div h1{
    font-size: 30px;
}

.bottom-div{
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.row{
    display: flex;
    align-items: center;
    gap: 10px;
}

.row img{
    height: 25px;
    width: 35px;
}

.row span{
    font-weight: 700;
}

.top-div-2{
    padding: 20px;
    background: linear-gradient(to right, rgb(120, 186, 219), rgb(8, 96, 130)
    );
    color: white;
    border-radius: 10px;
}

.fifteen{
    height: auto;
    width: 100%;
    padding: 30px;
    background: linear-gradient(to right, rgb(3, 3, 91), rgb(18, 18, 237));
}

.starting{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-direction: column;
}

.starting h1{
    font-size: 40px;
    font-weight: 800;
    color: white;
}

.starting img{
    height: 35px;
    width: 120px;
}

.starting h2{
    font-size: 25px;
    font-weight: 500;
    color: white;
}

.fifteen h1{
    font-size: 40px;
    font-weight: 700;
    color: white;
    text-align: center;
    margin: auto;
    margin-top: 20px;
}

.fifteen h1 span{
    color: red;
}

.steps{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.steps-card{
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    background-color: rgb(114, 114, 203);
    border-radius: 10px;
    border-bottom: 4px solid white;
    height: auto;
    width: 60vw;
    margin-top: 30px;
    gap: 20px;
}

.steps-card img{
    height: 25px;
    width: 25px;
}

.steps-card span{
    font-weight: 700;
}

.fifteen h3{
    font-size: 20px;
    text-align: center;
    margin: auto;
    font-weight: 700;
    color: white;
    margin-top: 30px;
}

.fifteen h3 span{
    color: yellow;
}

.sixteen{
    height: auto;
    width: 100%;
    padding: 30px;
}

.note{
    margin: auto;
    border-width: 5px;
    border-style: solid;
    background: linear-gradient(white, white) padding-box,
    linear-gradient(to right, rgb(229, 110, 130), rgb(49, 3, 3)) border-box;
    border: 10px solid transparent;
    height: auto;
    width: 70vw;
    text-align: center;
    padding: 20px;
}

.note h1{
    font-size: 40px;
    font-weight: 800;
}

.note p{
    font-size: 20px;
}

.sixteen h1{
    text-align: center;
    margin: auto;
    font-size: 40px;
    font-weight: 800;
    margin-top: 50px;
}

.questions{
    display: flex;
    justify-content: flex-start;
    padding: 20px 30px;
    background-color: rgb(192, 175, 209);
    height: auto;
    width: 70vw;
    border-radius: 10px;
    border: 2px dashed black;
    margin: auto;
    margin-top: 30px;
}

.question-card{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.last-bottom{
    background: linear-gradient(to right, navy, blue);
    height: auto;
    width: 70vw;
    display: flex;
    padding: 20px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: auto;
    margin-top: 40px;
    border-radius: 10px;
}

.last-bottom h1{
    font-size: 40px;
    color: white;
}

.last-bottom h1 span{
    color: yellow;
}

.bottom-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.green-btn1{
    background-color: rgb(15, 177, 15);
    height: auto;
    width: 30vw;
    padding-bottom: 15px;
    border-radius: 10px;
    text-align: center;
    margin: auto;
    margin-top: 30px;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    margin: auto;
    margin-top: 30px;
}

@media only screen and (min-Width:280px) and (max-Width:480px) {
    .section1{
        height: auto;
        width: 100%;
    }
     .texts1{
        flex-direction: column;
     }
     .btn1{
        padding: 0;
     }
     button{
        height: 30px;
        width: 150px;
        font-size: 20px;
     }
    p{
        font-size: 17px;
        text-align: center;
    }
    .section2{
        flex-direction: column;
        text-align: center;
        padding: 0;
        margin-top: 20px;
    }
    i{
        flex-direction: column;
        text-align: center;
    }
    #stext{
        font-size: 20px;
        flex-direction: column;
    }
    #smalltext{
          font-size: 20px;
          margin: 0;
    }
    #btext{
        font-size: 17px;
    }
    #htext{
        font-size: 20px;
        padding: 10px;
    }
    #ptext p{
        font-size: 15px;
        text-align: center;
        padding: 10px;
    }
    .btnb{
        height: auto;
        width: 100%;
        font-size: 20px;
        padding: 10px;
    }
    #ptext1 p{
        font-size: 18px;
    }
    .subtext2{
        padding: 10px;
    }
    .video iframe{
        height: 175px;
        width: 250px;
        align-items: center;
    }
    .bigbutton{
        flex-direction: column;
    }
    #btnb{
        width: 200px;
        height: 70px;
        font-size: 17px;
    }
    .buttontext{
        flex-direction: column;
    }
    
    #btns{
        width: 200px;
        height: 70px;
        font-size: 17px;
    }
    .buttons{
        width: 200px;
        height: 70px;
        font-size: 17px;
    }

    .divs{
        width: 80vw;
        flex-direction: column;
        text-align: center;
    }

    .main-div{
        flex-direction: column;
        margin-top: 30px;
    }
    
    .div-1 img{
        height: 80px;
        width: 120px;
    }

    .third h1{
        font-size: 20px;
    }
    
    .people-review{
        flex-direction: column;
    }
    
    .review-card{
        height: auto;
        width: 250px;
    }

    .iframe-link{
        flex-direction: column;
    }

    .iframe-link iframe{
        height: 200px;
        width: 220px;
    }

    .four{
        flex-direction: column;
    }
    
    .left-div h1{
        font-size: 25px;
    }
    
    .green-btn{
        height: auto;
        width: 250px;
    }

    .right-div iframe{
        height: 200px;
        width: 220px;
    }

    .cards{
        flex-direction: column;
    }

    .eligible{
        width: 200px;
    }

    .line-1{
        width: 90vw;
    }
   
    .salary-div{
        flex-direction: column;
        width: 90vw;
    }

    .per{
        gap: 10px;
    }
    
    .per h1{
        font-size: 30px;
    }
    
    .per span{
        font-size: 20px;
    }
    
    p{
        font-size: 40px;
    }
    
    .job h2{
        width: 90vw;
    }
    
    .academy h3{
        width: 90vw;
    }
    
    .batch{
        flex-direction: column;
    }
    
    .start{
        flex-direction: column;
        height: auto;
        width: 70vw;
        padding: 20px;
    }
    
    .small{
        flex-direction: column;
    }
    
    .green{
        width: 80vw;
    }
    
    .rating{
        flex-direction: column;
    }

    .card-advantage{
        width: 300px;
        text-align: center;
    }

    .job-ready-steps img{
        height: 40vw;
        width: 60vw;
    }

    .h1{
        width: 60vw;
    }
    
    .flex{
        flex-direction: column;
    }
    
    .flex-cards{
        width: 90vw;
    }
    
    .bonus{
        text-align: center;
        font-size: 20px;
        color: white;
    }
    
    .flex-cards img{
        width: 250px;
    }
    
    .syllabus-cards{
        width: 80vw;
    }

    .student-review{
        flex-direction: column;
    }

    .stud-card{
        width: 80vw;
        text-align: center;
        height: auto;
    }

    .stud-success{
        flex-direction: column;
    }

    .success-cards iframe{
        width: 85vw;
    }

    .founder{
        flex-direction: column-reverse;
    }

    .founder img{
        height: 40vh;
        width: 80vw;
    }

    .certified-img img{
        width: 80vw;
    }

    .certified-feature{
        flex-direction: column;
    }

    .certified-feature img{
        width: 80vw;
    }

    .two-cards{
        flex-direction: column;
    }

    .other-programs{
        width: 80vw;
    }

    .starting{
        text-align: center;
    }

    .questions{
        width: 80vw;
    }

    .last-bottom{
        flex-direction: column;
        width: 80vw;
    }

    .last-bottom h1{
        text-align: center;
        font-size: 30px;
    }

    .green-btn1{
        width: 70vw;
    }
}

@media only screen and (min-Width:481px) and (max-Width:768px) {
    .section1{
        height: auto;
        width: 100%;
    }
     .texts1{
        flex-direction: column;
     }
     .btn1{
        padding: 0;
     }
     button{
        height: 33px;
        width: 170px;
        font-size: 25px;
     }
    p{
        font-size: 20px;
        text-align: center;
    }
    .section2{
        flex-direction: column;
        text-align: center;
        padding: 0;
        margin-top: 20px;
    }
    i{
        flex-direction: column;
        text-align: center;
    }
    #stext{
        font-size: 20px;
        flex-direction: column;
    }
    #smalltext{
          font-size: 20px;
          margin: 0;
    }
    #btext{
        font-size: 17px;
    }
    #htext{
        font-size: 20px;
        padding: 10px;
    }
    #ptext p{
        font-size: 15px;
        text-align: center;
        padding: 10px;
    }
    .btnb{
        height: auto;
        width: 100%;
        font-size: 20px;
        padding: 10px;
    }
    #ptext1 p{
        font-size: 18px;
    }
    .subtext2{
        padding: 10px;
    }
    .video iframe{
        height: 210px;
        width: 410px;
        align-items: center;
    }
    .bigbutton{
        flex-direction: column;
    }
    #btnb{
        width: 420px;
        height: 50px;
        font-size: 20px;
    }
    .buttontext{
        flex-direction: column;
    }
    
    #btns{
        width: 420px;
        height: 50px;
        font-size: 17px;
    }
    .buttons{
        width: 420px;
        height: 50px;
        font-size: 17px;
    }

    .divs{
        width: 80vw;
        flex-direction: column;
        text-align: center;
    }

    .div1 h1{
        font-size: 35px;
    }

    .div1 p{
        font-size: 30px;
    }

    .main-div{
        flex-wrap: wrap;
        margin-top: 30px;
    }
    
    .div-1 img{
        height: 80px;
        width: 120px;
    }

    .third h1{
        font-size: 40px;
    }
    
    .people-review{
        flex-direction: column;
    }
    
    .review-card{
        height: auto;
        width: 400px;
    }

    .iframe-link{
        flex-direction: column;
    }

    .iframe-link iframe{
        height: 250px;
        width: 400px;
    }

    .four{
        flex-direction: column;
    }
    
    .left-div h1{
        font-size: 30px;
    }
    
    .green-btn{
        height: auto;
        width: 80vw;
    }

    .right-div iframe{
        height: 40vw;
        width: 80vw;
    }

    .line-1{
        width: 90vw;
    }
   
    .salary-div{
        width: 90vw;
    }

    .salary-div p{
        font-size: 20px;
        margin: auto;
    }

    .per{
        gap: 10px;
    }
    
    .per h1{
        font-size: 25px;
    }
    
    .per span{
        font-size: 20px;
    }
    
    p{
        font-size: 40px;
    }
    
    .job h2{
        width: 90vw;
    }
    
    .academy h3{
        width: 90vw;
    }
    
    .batch{
        flex-direction: column;
    }
    
    .start{
        height: auto;
        width: 90vw;
        padding: 20px;
    }
    
    .small{
        width: 90vw;
    }
    
    .green{
        width: 80vw;
    }
    
    .rating{
        flex-direction: column;
    }

    .card-advantage{
        width: 350px;
        text-align: center;
    }

    .job-ready-steps img{
        height: 40vw;
        width: 60vw;
    }

    .h1{
        width: 60vw;
    }
    
    .flex{
        flex-direction: column;
    }
    
    .flex-cards{
        width: 80vw;
    }
    
    .bonus{
        text-align: center;
        font-size: 20px;
        color: white;
    }
    
    .flex-cards img{
        width: 350px;
    }

    .btn{
        width: 50vw;
    }

    .btn h1{
        font-size: 25px;
    }

    .syllabus-cards{
        width: 80vw;
    }

    .student-review{
        flex-direction: column;
    }

    .stud-card{
        width: 80vw;
        text-align: center;
        height: auto;
    }

    .stud-success{
        flex-direction: column;
    }

    .success-cards iframe{
        width: 75vw;
        height: 40vh;
    }

    .founder{
        flex-direction: column-reverse;
    }

    .founder img{
        height: 40vh;
        width: 80vw;
    }

    .info h3{
        font-size: 25px;
    }

    .paragraph h6{
        font-size: 22px;
    }

    .certified-img img{
        width: 80vw;
        height: 40vw;
    }

    .certified-feature{
        flex-direction: column;
    }

    .certified-feature img{
        width: 70vw;
        height: 10vw;
    }

    .two-cards{
        flex-direction: column;
    }

    .other-programs{
        width: 80vw;
    }

    .questions{
        width: 80vw;
    }

    .last-bottom{
        flex-direction: column;
        width: 80vw;
    }

    .last-bottom h1{
        text-align: center;
        font-size: 30px;
    }

    .green-btn1{
        width: 70vw;
    }

}

@media only screen and (min-Width:769px) and (max-Width:1024px) {
    .section1{
        height: auto;
        width: 100%;
    }
     .texts1{
        flex-direction: column;
    }
     .btn1{
        padding: 0;
     }
     button{
        height: 33px;
        width: 170px;
        font-size: 25px;
     }
    p{
        font-size: 24px;
        text-align:right;
    }
    .section2{
        flex-direction: column;
        text-align: left;
        padding: 0;
        margin-top: 20px;
    }
    #stext{
        font-size: 20px;
        flex-direction: column;
        text-align: center;
    }
    #smalltext{
          font-size: 20px;
          margin: 0;
          padding: 5px;
    }
    #btext{
        font-size: 17px;
        padding: 5px;
    }
    #htext{
        font-size: 20px;
        padding: 5px;
        text-align: left;
    }
    #ptext p{
        font-size: 20px;
        text-align: left;
        padding: 5px;
    }
    .btnb{
        height: auto;
        width: 100%;
        font-size: 23px;
        padding: 5px;
    }
    #ptext1 p{
        font-size: 20px;
        text-align: left;
    }
    .subtext2{
        flex-direction: column;
        padding: 10px;
        align-items: center;
        justify-content: center;
        margin: auto;
    }
    .video iframe{
        flex-direction: column;
        height: 300px;
        width: 700px;
        align-items: center;
    }
    .bigbutton{
        flex-direction: column;
    }
    #btnb{
        width: 700px;
        height: 50px;
        font-size: 23px;
    }
    .buttontext{
        flex-direction: column;
    }
    
    #btns{
        width: 700px;
        height: 50px;
        font-size: 23px;
    }
    .buttons{
        width: 500px;
        height: 50px;
        font-size: 23px;
    }

    .divs{
        width: 80vw;
        text-align: center;
    }

    .main-div{
        gap: 10px;
    }

    .div-1{
        width: 145px;
    }

    .third h1{
        font-size: 40px;
    }
    
    .review-card{
        height: auto;
        width: 300px;
    }

    .para span{
        font-size: 15px;
    }

    .iframe-link iframe{
        height: 40vh;
        width: 200px;
    }
    
    .left-div h1{
        font-size: 25px;
    }
    
    .green-btn{
        height: auto;
        width: 40vw;
    }

    .right-div iframe{
        width: 45vw;
    }

    .eligible p{
        text-align: center;
    }

    .salary-div p{
        font-size: 20px;
        margin: auto;
        text-align: center;
    }

    .per{
        gap: 10px;
    }
    
    .per h1{
        font-size: 30px;
    }
    
    .per span{
        font-size: 20px;
    }
    
    p{
        font-size: 40px;
        text-align: center;
    }

    .card-advantage{
        width: 300px;
        text-align: center;
    }

    .flex-cards{
        width: 25vw;
    }

    .flex-cards img{
        width: 25vw;
    }

    .syllabus-cards{
        width: 70vw;
    }
    
    .stud-card{
        height: 500px;
    }

    .success-cards iframe{
        width: 25vw;
        height: 40vh;
    }

    .certified-feature img{
        width: 30vw;
    }

    .questions{
        width: 80vw;
    }

    .last-bottom{
        flex-direction: column;
        width: 80vw;
    }

    .last-bottom h1{
        text-align: center;
        font-size: 30px;
    }

    .green-btn1{
        width: 70vw;
    }
}